#editorial{
	font-family: "Playfair Display", serif;
	color: #4A148C;
	text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.7), 4px 4px 6px blue;
}

main h2{
	font-family: "Bungee", sans-serif;
	margin-top: 35px;
	text-align: center;
	color: #4A148C
}

#grid-editoriales{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.editorial-bloque{
	font-family: "Roboto", sans-serif;
}

#contenido-grid iframe,
#contenido-grid video,
#contenido-grid audio{
	width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}