nav, footer, aside, .jello, #cabecera-tabla {
    display: none !important; 
}

.content-block, section, article {
    width: 100% !important;
    float: none !important;
    background-color: white !important;
    color: black !important;
    margin: 0 !important;
    padding: 0 !important;
}