.content-block {
    width: 100% !important;
	float: none !important;
	position: static !important;
	display: block !important;
	margin: 10px auto;
}

#contenido-absolute {
    padding-right: 20px !important;
}

div[class*="contenido-bloque"] {
    width: 100% !important;
}